.container {
  background-color: rgb(0, 0, 0);
  position: fixed;

  width: 100vw;
  height: 100vh;
  transition-duration: 0.75s;
  transition-timing-function: ease-in;
  transform: translateX(-100vw);
  overflow: hidden;
}

.scroll_event_ele {
  /* will-change: width; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3cm;
}
.sss {
  transform: translateX(0vw);
  color: aliceblue;
  
  letter-spacing: 1cm;
}
