#SkillsSec {
  position: relative;
  background-color: #0d0014;
  width: 100vw;
  padding: 10rem 0;
}

#SkillsSec > a {
  position: absolute;
  left: 13vw;
  bottom: 2cm;
  z-index: 99;
}

#SkillsSec .SectionName {
  margin-left: 12vw;
}
.skillBody {
  margin:1cm  15vw 0 25vw;

}
.skillIntro {
  font-size: larger;
  color: white;
  width: max-content;
  padding: 0.5rem 0;
  font-weight: 500;
  border-bottom: #c77dff 0.1rem solid;

}
.techSkills {
  display: flex;
  flex-wrap: wrap;
  gap: 5vw;
  align-items: center;
  justify-content: center;
  margin-top: 2cm;
  

}

.skillImgBody
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.skillImage {
  width: 3rem;
  margin: 0.2rem;
}
.skillName {
  color: aliceblue;
  font-size: 0.8rem;
}
.skillImage:hover
{
  transform: scale(1.15);
  transition: ease-in 0.1s;
}
